$primaryColor: #f9e500;
$primaryHoverColor: #ffd200;

$secondaryColor: #203142;
$secondaryHoverColor: lighten(#203142, 20%);

// Contrast
$contrastBackground: black;
$contrastColor: yellow;

// Index's
$closeMenuIndex: 130;
$headerInformationsIndex: 125;
$menuIndex: 120;
$subMenuIndex: 110;
$searchFormIndex: 108;
$languagesIndex: 107;
$bodyOverlayIndex: 106;
$weatherIndex: 105;
$headerIndex: 100;
$warningsClose: 90;
