// FontSize
html.fontsize-72-5 {
  font-size: 72.5%;
}
html.fontsize-67-5 {
  font-size: 67.5%;
}
html.fontsize-62-5 {
  font-size: 62.5%;
}
html.fontsize-57-5 {
  font-size: 57.5%;
}
html.fontsize-52-5 {
  font-size: 52.5%;
}

html.contrast-mode {
  ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 0.6rem rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 0.6rem rgba(0, 0, 0, 0.2);
    background: $contrastColor;
  }

  ::selection {
    background-color: $contrastColor;
    color: $contrastBackground;
  }

  body {
    background-color: $contrastBackground;
    color: $contrastColor;
  }
}

html.wcagfocus a:focus,
html.wcagfocus input[type="text"]:focus,
html.wcagfocus input[type="search"]:focus,
html.wcagfocus input[type="submit"]:focus,
html.wcagfocus textarea:focus,
html.wcagfocus .pe-panels.tabs .pn-list li a:focus,
html.wcagfocus *:focus {
  outline: 0.2rem dashed red;
}
